.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.product-image img {
    border-radius: 3px;
    width: 70vw;
}

.product-title {
    font-size: 2.5rem;
    align-self: center;
    width: 70vw;
    text-align: left;
}

.product-persons {
    font-size: 1.3rem;
    font-weight: 600;
    width: 70vw;
    padding-bottom: 10px;
}

.product-description {
    width: 70vw;
    text-align: justify;
    padding-bottom: 50px;
}

#fizjo-desc {
    width: 30vw;
    object-fit: cover;
}