/* global */
:root {
  --dark-gray: #092f57;
  --light-blue: #00a0dc;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--dark-gray);
}

a {
  text-decoration: none;
  color: var(--dark-gray);
}

p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  height: 25px;
}

li:hover {
  text-shadow: 0px 0px 1px var(--dark-gray);
}

ul {
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

/* navbar */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* shadow */
  -webkit-box-shadow: 0px 5px 10px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 10px -7px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 10px -7px rgba(66, 68, 90, 1);
  flex-wrap: wrap;
  transition: 1s;
}

.nav-header {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px 0 10px;
  order: 1;
  transition: 1s;
}

.nav-logo {
  padding-bottom: 5px;
}

.nav-links {
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0.9rem;
  flex-shrink: 0;
  order: 3;
  flex-basis: 100%;
  padding-left: 15px;
  transition: 1s;
}

.nav-links ul {
  text-transform: capitalize;
}

.show-links {
  height: 160px;
}

.show-links-direction {
  display: flex;
  flex-direction: column;
}

/* contact */

.navbar-contact {
  display: flex;
  align-items: center;
  order: 2;
}

.adress {
  display: none;
}

.phones {
  display: flex;
  padding-right: 20px;
  flex-shrink: 0;
}

.phones-title {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.numbers a {
  color: var(--light-blue);
  font-weight: 600;
}

.numbers {
  display: flex;
  flex-direction: column;
}

/* menu toggle button */

.menu-toggle {
  background-color: white;
  border: none;
  cursor: pointer;
}

/* hero section */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.hero-img {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-img img {
  width: 90vw;
  height: auto;
}

.products {
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
}

.single-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: auto;
}

.single-product img {
  width: 80%;
  object-fit: cover;
  border-radius: 3px;
  object-position: top;
}

.product-title {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 3px 0;
  text-align: center;
}

.product-person {
  font-size: 1rem;
  font-weight: 600;
  padding: 2px 0;
  text-align: center;
}

.product-desc {
  width: 80%;
  text-align: center;
}

#osocze img {
  object-fit: cover;
  width: 80vw;
}

.product-more {
  color: var(--light-blue);
}

.product-more:hover {
    text-shadow: 0px 0px 1px var(--dark-gray);
}

/* responsive design */

@media screen and (min-width: 1150px) {
  .nav-links {
    display: flex;
    height: auto;
    overflow: visible;
    padding-right: 20px;
    flex-grow: 2;
    order: 1;
    flex-basis: 0;
    transition: 1s;
  }

  .menu-toggle {
    display: none;
  }

  ul {
    display: flex;
  }

  .links li {
    text-align: center;
  }

  .hero-img img {
    width: 70vw;
    height: auto;
  }

  .products {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 50px;
  }

  .single-product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    width: 27vw;
  }

  .single-product img {
    width: 80%;
    height: 70%;
    object-fit: cover;
    border-radius: 3px;
    object-position: top;
  }

  #osocze {
    width: 35vw;
    flex-shrink: 0;
    text-align: center;
    align-self: center;
  }

  #osocze img {
    width: 100%;
  }

  #fizjo {
    width: 20vw;
  }
}

@media screen and (min-width: 605px) {
  .adress {
    display: flex;
    padding: 0 20px;
    flex-shrink: 0;
  }

  #osocze {
    object-fit: cover;
    width: 50vw;
  }

}