/* global */
:root {
  --dark-gray: #092f57;
  --light-blue: #00a0dc;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--dark-gray);
}

a {
  text-decoration: none;
  color: var(--dark-gray);
}

li {
  list-style-type: none;
  text-align: center;
}

li:hover {
  font-weight: 600;
}

ul {
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}

/* navbar */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* shadow */
  -webkit-box-shadow: 0px 5px 10px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 10px -7px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 10px -7px rgba(66, 68, 90, 1);
}

.nav-header {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px 0 10px;
}

.nav-logo {
  padding-bottom: 5px;
}

.nav-links {
  padding-right: 20px;
  flex-grow: 2;
}

/* contact */

.adress {
  padding: 0 20px;
}

.phones {
  display: flex;
  padding-right: 20px;
}

.phones-title {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.numbers a {
  color: var(--light-blue);
  font-weight: 600;
}

.numbers {
  display: flex;
  flex-direction: column;
}

/* responsive design */

@media screen and (min-width: 1284px) {
  .nav-links {
    display: flex;
  }
}
